@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');



@theme {
  --font-great-vibes: "Great Vibes", cursive;
  --font-inter: "Inter", sans-serif;
  --font-anton: "Anton", sans-serif;
  --font-anton-sc: "Anton SC", sans-serif;
  --font-bebas-neue: "Bebas Neue", sans-serif;
}


